<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/optiflowplus/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/rodrigo-cabrera-abello-02a91225a/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     No es solo una inversión, es un compromiso con la excelencia <i class="fas fa-heart"></i>
  </div>
</div>
